#overlay {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    overflow: hidden;
    justify-content: center;
    -webkit-justify-content: center;
    width: 100%;
    z-index: 99999;
    height: 100%;
    background: #fff;
    transition: 1s 0.4s;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
  }