<!-- <ngx-spinner bdColor="white" color="black"  template="<img src='assets/images//9b-loading.gif' />">  
    
</ngx-spinner> -->
 
 <swiper class="oo"
effect="fade" 
[slidesPerView]="1" [loop]=true [loopedSlides]="5" (swiper)="onSwiper($event)"  (slideChange)="onSlideChange()"
 [navigation]=true  [pagination]="{ clickable: true }"  [autoplay]={delay:3000}   [parallax]=true > 
 <!-- [autoplay]={delay:1000} -->


<ng-template swiperSlide *ngFor="let slide of item">
    <img [src]="slide.images" alt=""  [id]="slide.id">
    <div class="tp-caption sfl rs-parallaxlevel-6 start" data-x="center" data-hoffset="0"
    data-y="center" data-voffset="-270" data-speed="1000" data-start="1100"
    data-easing="Power0.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1"
    data-endspeed="300">
    
    
   <div class="cell">

       <h1 class="fadeInUp wow animated" data-wow-duration="1.5s" data-wow-delay="1.2s">{{slide.title}}</h1>
       <p class="fadeInUp wow animated" data-wow-duration="2s" data-wow-delay="2s">{{slide.description}}</p>
       <a routerLink="/contact"  class="banner-button fadeInUp wow animated" data-wow-duration="2s" data-wow-delay="2s" *ngIf="slide.title">{{slide.button_text}}</a>
      </div>
</div>
  </ng-template>



</swiper> 












<!-- <div class="tp-banner-container">

    <div class="tp-banner">
      <ul>
        <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
          <img src="assets/images/Slide/9b.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center"
            data-bgrepeat="no-repeat" data-visibility="on" />
        </li>
        <li data-transition="fade" data-x="center" data-y="center" data-slotamount="5" data-masterspeed="700"
          class="vr-web">
          <img src="assets/images/Slide/vr-development.jpg" alt="slidebg1" data-bgfit="cover"
            data-bgposition="center center" data-bgrepeat="no-repeat" />
          <div class="tp-caption sfl rs-parallaxlevel-6 start" data-x="center" data-hoffset="0" data-y="center"
            data-voffset="-270" data-speed="1000" data-start="1100" data-easing="Power0.easeInOut"
            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <div class="cell">
              <h1>VR Game Development</h1>
              <p>
                Tired of your daily routine? Get lost in a magical world of
                Virtual Reality. Experiences so close to reality, you won't
                like to get back to the actual world.
                <span class="mob">
                  Our specialty in VR games and simulations would make the
                  word 'impossible' lose its meaning!</span>
              </p>
              <a routerLink="/contact" class="banner-button">Develop your VR Game</a>
            </div>
          </div>
        </li>
        <li class="game-development" data-transition="fade" data-x="center" data-y="center" data-slotamount="5"
          data-masterspeed="700">
          <img src="assets/images/Slide/mob-game-development.jpg" alt="slidebg1" data-bgfit="cover"
            data-bgposition="center center" data-bgrepeat="no-repeat" class="desktop" />
          <div class="tp-caption sfl rs-parallaxlevel-6 start" data-x="center" data-hoffset="0" data-y="center"
            data-voffset="-270" data-speed="1000" data-start="1100" data-easing="Power0.easeInOut"
            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <div class="cell">
              <h1>Mobile Game Development</h1>
              <p>
                The child in you never dies, it's there inside you waiting
                to be woken up. So wake your inner child with a dose of
                exciting 2D and 3D games.
                <span class="mob">
                  We provide a complete pipeline for game development from
                  concepting to the actual finalized product.
                </span>
              </p>
              <a routerLink="/contact" class="banner-button">Develop your Game</a>
            </div>
          </div>
        </li>
        <li data-transition="fade" data-x="center" data-y="center" data-slotamount="5" data-masterspeed="700">
          <img src="assets/images/Slide/mob-app.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center"
            data-bgrepeat="no-repeat" />
          <div class="tp-caption sfl rs-parallaxlevel-6 start" data-x="center" data-hoffset="0" data-y="center"
            data-voffset="-270" data-speed="1000" data-start="1100" data-easing="Power0.easeInOut"
            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <div class="cell">
              <h1>Mobile Application Development</h1>
              <p>
                Don't let any idea slip away. Who knows, your one little
                idea could just turn into a next big app out there? We
                provide iPhone and Android mobile app development
                <span class="mob">to tippy toe your little idea to a well-functioning app.
                  So have an idea? Call us!</span>
              </p>
              <a routerLink="/contact" class="banner-button">Develop your Application</a>
            </div>
          </div>
        </li>
        <li data-transition="fade" data-x="center" data-y="center" data-slotamount="5" data-masterspeed="700">
          <img src="assets/images/Slide/web-development.jpg" alt="slidebg1" data-bgfit="cover"
            data-bgposition="center center" data-bgrepeat="no-repeat" />
          <div class="tp-caption sfl rs-parallaxlevel-6 start" data-x="center" data-hoffset="0" data-y="center"
            data-voffset="-270" data-speed="1000" data-start="1100" data-easing="Power0.easeInOut"
            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <div class="cell">
              <h1>Web Development</h1>
              <p>
                No business is complete without a website that portrays
                everything about you and your company. So go get your
                business on the web.
                <span class="mob">
                  Our techy web developers will create a website that's
                  carefully tailored to your needs. Go flaunt your new
                  website.</span>
              </p>
              <a routerLink="/contact" class="banner-button">Develop your website</a>
            </div>
          </div>
        </li>
        <li data-transition="fade" data-x="center" data-y="center" data-slotamount="5" data-masterspeed="700">
          <img src="assets/images/Slide/ui-ux.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center"
            data-bgrepeat="no-repeat" />
          <div class="tp-caption sfl rs-parallaxlevel-6 start" data-x="center" data-hoffset="0" data-y="center"
            data-voffset="-270" data-speed="1000" data-start="1100" data-easing="Power0.easeInOut"
            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <div class="cell">
              <h1>UI/UX Designing</h1>
              <p>
                No cake can look tasty without an attractive icing. Same way
                no website can look good without a proper design. You need a
                design that looks good?
                <span class="mob">
                  We'll give you a design that looks great! Our elite web
                  designers will ensure that you have a sleek and elegant
                  look to your website.</span>
              </p>
              <a routerLink="/contact" class="banner-button">Design Web & Mobile Apps</a>
            </div>
          </div>
        </li>
        <li data-transition="fade" data-x="center" data-y="center" data-slotamount="5" data-masterspeed="700">
          <img src="assets/images/Slide/art.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center"
            data-bgrepeat="no-repeat" />
          <div class="tp-caption sfl rs-parallaxlevel-6 start" data-x="center" data-hoffset="0" data-y="center"
            data-voffset="-270" data-speed="1000" data-start="1100" data-easing="Power0.easeInOut"
            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <div class="cell">
              <h1>Art Services</h1>
              <p>
                Already working on a game or a movie and the fast
                approaching deadline creeping you out? Don't worry, we'll
                provide you a helping hand.
                <span class="mob">
                  We specialize in 3D artworks and animations, highly
                  detailed 3D characters and assets for lowpoly or cinematic
                  purposes.</span>
              </p>
              <a routerLink="/contact" class="banner-button">Develop your 3D Art</a>
            </div>
          </div>
        </li>
      </ul>
      <div class="tp-bannertimer"></div>
    </div>
  </div> -->
