<!-- <div class="reveal-holder" data-aos="reveal-item">
  <div class="reveal-block left" data-aos="reveal-left"></div>
  <img src="../assets/images/battle.jpg" alt="Pomeranian">
</div> -->



<div class="better-experience scroll-content"
 data-logo-url="assets/images/logo-black.svg">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h1 class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.5s">
            We Create <br />
           Memorable Experiences
          </h1>
          <p class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.5s">
            Virtual Reality and Augmented Reality is the best topic in
            current market. 9Brainz gives one of the best sevice in
            virtual reality and augemented reality. 9Brainz provide VR and
            AR development application and game in india as well as other
            countries.
          </p>
        </div>
        <div class="col-7" >
          <div class="left-side">
            <div id="rev-3" class="wow slideInDown animated"  data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="assets/images/home-one.png" alt="none" />
            </div>
            <div id="rev-4" class="wow slideInUp animated"  data-wow-duration="1s" data-wow-delay="0.5s"><img src="assets/images/home-two.png" alt="" /></div>
          </div>
        </div>
        <div class="col-5" >
          <div class="right-side">
            <div id="rev-5" class="wow slideInRight animated"  
            data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="assets/images/home-three.png" alt="none" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>