 <!-- <div class="latest-games work-list scroll-content"  data-logo-url="../../../assets/images/logo-black.svg">
                  <div class="container">
                    <div class="row">
                      <div class="section-title">
                        <h1>Our Latest Games</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur 
                          adipisicing elit. Suscipit corporis rerum ad fuga reiciendis enim,
                           itaque quo reprehenderit. Aperiam, harum ipsam sit optio, eligendi 
                           enim ratione error. Ipsa, repellat, odio?</p>
                      </div>
                      <div class="col-4" *ngFor="let spin of Joyee">
                        <div *ngIf="spin.service_name == 'Virtual Reality'">
                          <div class="card" > 
                            <a href="../work/battle.html">
                             
                            <div class="card-img">
                              <img src="{{spin.small_banner_image}}" alt=""></div>
                            <div class="card-description">
                              <div class="work-title">
                                <h4>{{spin.project_name}}</h4>
                                <p>{{spin.short_description}}</p>
                              </div>
                              <div class="project-link">
                                <div class="android"><i class="fa fa-android"></i></div>
                                <div class="apple"><i class="fa fa-apple"></i></div>
                              </div>
                            </div>
                            </a>
                          </div>
                        </div>
                      
                      </div>
                      </div>
                      </div>
                      </div>   -->