<div class="start-project">
    <div class="container">
      <div class="row flex-column">
        <h3 class="playfair fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
          Let's work together
        </h3>
        <a class="gothic effect fadeInUp animated" data-letters="Start a project" data-wow-duration="1.4s"
          data-wow-delay="0.5s"><span class="top"></span><span class="top-left"></span>Start a
          project<span class="bottom"></span><span class="bottom-right"></span></a>
      </div>
    </div>
  </div>