<!-- <ngx-spinner bdColor="white" color="black"  template="<img src='assets/images//9b-loading.gif' />">  
    
</ngx-spinner> -->

<div class="main about-us-page">
  

  <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
    <div class="section about-intro">
      <div class="tabel-cell wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
          <h1>
            We are wizards! <br />
            We know some Voodoo and Black Magic<br />
            Sometimes we work too.
          </h1>
        </div>
      </div>
    </div>

    <div class="section we-do wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.5s">
      <div class="tabel-cell">
        <div class="container">
          <h2>Our Services</h2>
          <div class="our-services">
            <div class="col-3">
              <div class="box left-b">
                <img src="assets/images/service/vr.png" alt="" />
                <h3>VR Development</h3>
                <p>
                  Wear a Virtual Reality Headset and see the Virtual World
                  in full stereoscopic 3D that gives you the additional
                  depth perception and that immersive feeling you always
                  craved for.
                </p>
              </div>
            </div>
            <div class="col-3">
              <div class="box">
                <img src="assets/images/service/game.png" alt="" />
                <h3>Game Development</h3>
                <p>
                  Get the best game play experience with our 3D games. Our
                  expertise in 3D assets creation will leave you mesmerized
                  with the quality of 3D assets you get.
                </p>
              </div>
            </div>
            <div class="col-3">
              <div class="box">
                <img src="assets/images/service/web.png" alt="" />
                <h3>Web Development</h3>
                <p>
                  Interesting layouts and web designs are the key factors
                  that help you keep your clients tied with the knot of your
                  products and services for a longer period.
                </p>
              </div>
            </div>
            <div class="col-3">
              <div class="box forth">
                <img src="assets/images/service/ui.png" alt="" />
                <h3>UI/UX Designing</h3>
                <p>
                  Good design can sometimes be the beauty of artful
                  creativity and other times the beauty of simplicity. We’ll
                  get it just right, and in a way that supports your overall
                  brand strategies.
                </p>
              </div>
            </div>
            <div class="col-3 ML25">
              <div class="box left-b btop">
                <img src="assets/images/service/app.png" alt="" />
                <h3>Mobile App Development</h3>
                <p>
                  We are providing solutions to businesses who are seeking a
                  faster web or mobile application.Our expert team having
                  updated knowledge of latest mobile app technologies.
                </p>
              </div>
            </div>
            <div class="col-3 MR25">
              <div class="box btop">
                <img src="assets/images/service/art.png" alt="" />
                <h3>3D Art</h3>
                <p>
                  We can design a wide array of 3D assets from simple 3D art
                  for your websites or 3D characters or props for your game
                  or animation video.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section who-we-work-for" data-wow-duration="1s" data-wow-delay="0.5s">
      <div class="tabel-cell wow fadeInUp animated">
        <div class="container">
          <h2>Who we work for</h2>
          <div class="clients">
            <ul>
              <li><img src="assets/images/clients/dew.png" alt="" /></li>
              <li><img src="assets/images/clients/cambridge.png" alt="" /></li>
              <li><img src="assets/images/clients/qld.png" alt="" /></li>
              <li><img src="assets/images/clients/yudiz.png" alt="" /></li>
              <li><img src="assets/images/clients/lifestream.png" alt="" /></li>
              <li><img src="assets/images/clients/appigizer.png" alt="" /></li>
              <li><img src="assets/images/clients/encompass.png" alt="" /></li>
              <li><img src="assets/images/clients/plenum.png" alt="" /></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section meet-team slideInUp animated">
      <div class="tabel-cell">
        <div class="container">
          <h2>Meet the team</h2>
          <div class="team">
            <div class="col-12">
              <div class="row">
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/ceo.jpg" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/jay.png" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/jeet.jpg" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/riddhi.jpg" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/malde.jpg" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/kunal.jpg" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/ab.png" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/meet.png" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/satish.jpg" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/dolly.png" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/irfan.jpg" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/sumit.jpg" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/neha.png" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/neha.png" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/santosh.png" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/hitanshu.png" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/prince.jpg" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="team-box">
                    <div class="team-img">
                      <img src="assets/images/team/vivek.png" alt="" class="img-responsive" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="aadu">About Us</div>
    <a routerLink="/contact" onclick="window.scrollTo(0, 0);" class="get-in-touch">contact us</a>
  </div>

</div>
<!-- <app-load></app-load> -->
<app-home></app-home>