<!-- <div class="client-testimonials scroll-content" data-logo-url="assets/images/logo-black.svg">
  <div class="container">
    <div class="row">
      <swiper [pagination]="{ clickable: true }" [loop]="true">
        <ng-template swiperSlide>
          <div class="text-center fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
            <img src="../../assets/images/grant.png" class="img-responsive" alt="" />
          </div>

          <div class="feedback">
            <h1 class="playfair fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
              “9Brainz has exceeded my expectations from design to development,
              and I love how I can trust them with product strategy too.”
            </h1>
          </div>
          <div class="client-name fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
            <p>Grant Hayes</p>
            <p>
              founder @ sswitch neuro performance solutions limited
            </p>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="text-center fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
            <img src="../../assets/images/grant.png" class="img-responsive" alt="" />
          </div>

          <div class="feedback">
            <h1 class="playfair fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
              “9Brainz has exceeded my expectations from design to development,
              and I love how I can trust them with product strategy too.”
            </h1>
          </div>
          <div class="client-name fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
            <p>Grant Hayes</p>
            <p>
              founder @ sswitch neuro performance solutions limited
            </p>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="text-center fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
            <img src="../../assets/images/grant.png" class="img-responsive" alt="" />
          </div>

          <div class="feedback">
            <h1 class="playfair fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
              “9Brainz has exceeded my expectations from design to development,
              and I love how I can trust them with product strategy too.”
            </h1>
          </div>
          <div class="client-name fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
            <p>Grant Hayes</p>
            <p>
              founder @ sswitch neuro performance solutions limited
            </p>
          </div>
        </ng-template>
      </swiper> -->

      <!-- <swiper> -->
      <!-- [pagination]="{ clickable: true }" -->

      <!-- <ng-template swiperSlide>
          <div class="text-center fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
            <img src="../../assets/images/grant.png" alt="" />
          </div>
          <div class="feedback">
            <h1 class="playfair fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
              “9Brainz has exceeded my expectations from design to
              development, and I love how I can trust them with
              product strategy too.”
            </h1>
          </div>
          <div class="client-name fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
            <p>Grant Hayes</p>
            <p>
              founder @ sswitch neuro performance solutions limited
            </p>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="text-center">
            <img src="../../assets/images/grant.png" alt="" />
          </div>
          <div class="feedback">
            <h1 class="playfair">
              “9Brainz has exceeded my expectations from design to
              development, and I love how I can trust them with
              product strategy too.”
            </h1>
          </div>
          <div class="client-name">
            <p>Grant Hayes</p>
            <p>
              founder @ sswitch neuro performance solutions limited
            </p>
          </div>
        </ng-template>
       
        <ng-template swiperSlide>
          <div class="text-center">
            <img src="../../assets/images/grant.png" alt="" />
          </div>
          <div class="feedback">
            <h1 class="playfair">
              “9Brainz has exceeded my expectations from design to
              development, and I love how I can trust them with
              product strategy too.”
            </h1>
          </div>
          <div class="client-name">
            <p>Grant Hayes</p>
            <p>
              founder @ sswitch neuro performance solutions limited
            </p>
          </div>
        
        </ng-template>
      </swiper>  -->

      <!-- <div class="swiper-container" >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="text-center fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="../../assets/images/grant.png" alt="" />
            </div>
            <div class="feedback">
              <h1 class="playfair fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
                “9Brainz has exceeded my expectations from design to
                development, and I love how I can trust them with
                product strategy too.”
              </h1>
            </div>
            <div class="client-name fadeInUp wow animated" data-wow-duration="1s" data-wow-delay="0.5s">
              <p>Grant Hayes</p>
              <p>
                founder @ sswitch neuro performance solutions limited
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="text-center">
              <img src="../../assets/images/grant.png" alt="" />
            </div>
            <div class="feedback">
              <h1 class="playfair">
                “9Brainz has exceeded my expectations from design to
                development, and I love how I can trust them with
                product strategy too.”
              </h1>
            </div>
            <div class="client-name">
              <p>Grant Hayes</p>
              <p>
                founder @ sswitch neuro performance solutions limited
              </p>
            </div>
          </div>


          <div class="swiper-slide">
            <div class="text-center">
              <img src="../../assets/images/grant.png" alt="" />
            </div>
            <div class="feedback">
              <h1 class="playfair">
                “9Brainz has exceeded my expectations from design to
                development, and I love how I can trust them with
                product strategy too.”
              </h1>
            </div>
            <div class="client-name">
              <p>Grant Hayes</p>
              <p>
                founder @ sswitch neuro performance solutions limited
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div> -->
    <!-- </div>
  </div>
</div> -->
