<div class="work-list">
    <div class="container">
      <div class="row">
        <div class="col-4 mob-app">
          <div class="card">
            <a href="work/dew.html">
              <div class="card-img">
                <img src="../../../assets/../../../assets/images/projects/dew.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Mountain Dew</h4>
                  <p>
                    Designed to give bike-stunt enthusiasts an opportunity
                    to witness high-adrenaline.
                  </p>
                </div>
                <div class="project-link"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 mob-app">
          <div class="card">
            <a href="work/roller-coaster.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/roller-coaster.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Roller Coaster</h4>
                  <p>
                    The ultimate roller coaster that lets you experience
                    authentic roller coaster thrills.
                  </p>
                </div>
                <div class="project-link">
                  <div class="vr-link">
                    <div class="oculus">
                      <img src="../../../assets/images/vr-icons/oculus.svg" alt="" />
                    </div>
                    <div class="vive">
                      <img src="../../../assets/images/vr-icons/vive.svg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 mob-app">
          <div class="card">
            <a href="work/be-first.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/befirst.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>#BeFirst</h4>
                  <p>
                    Training specific for sports men and women who want to
                    get the edge on the competition.
                  </p>
                </div>
                <div class="project-link">
                  <div class="android"><i class="fa fa-android"></i></div>
                  <div class="apple"><i class="fa fa-apple"></i></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 mob-app">
          <div class="card">
            <a href="work/iam.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/iam.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>I Am</h4>
                  <p>
                    Connect with training buddies, trainers based on your
                    interests and location.
                  </p>
                </div>
                <div class="project-link">
                  <div class="android"><i class="fa fa-android"></i></div>
                  <div class="apple"><i class="fa fa-apple"></i></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 mob-app">
          <div class="card">
            <a href="work/battle.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/Battle.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>#Battle</h4>
                  <p>
                    The game where REACTIONS are the only thing that
                    counts.Fastest time wins.
                  </p>
                </div>
                <div class="project-link">
                  <div class="android"><i class="fa fa-android"></i></div>
                  <div class="apple"><i class="fa fa-apple"></i></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 web mob-app">
          <div class="card">
            <a href="work/blendd.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/blendd.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Blendd</h4>
                  <p>
                    Blendd Is An Exclusive Range Of Value Added Fabrics
                    For Fashion Designers.
                  </p>
                </div>
                <div class="project-link">
                  <div class="android"><i class="fa fa-android"></i></div>
                  <div class="apple"><i class="fa fa-apple"></i></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 web mob-app">
          <div class="card">
            <a href="work/mestory.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/mestory.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Mestory</h4>
                  <p>
                    Mestory is a web &amp; mobile application that allows
                    to read and write interactive stories.
                  </p>
                </div>
                <div class="project-link">
                  <div class="web">
                    <i class="fa fa-external-link"></i>
                  </div>
                  <div class="android"><i class="fa fa-android"></i></div>
                  <div class="apple"><i class="fa fa-apple"></i></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 mob-app">
          <div class="card">
            <a href="work/qld-swimacademy.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/qld.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>QLD Swim Academy</h4>
                  <p>
                    Take your swimming to the next level with this app to
                    help you swim smarter!
                  </p>
                </div>
                <div class="project-link">
                  <div class="android"><i class="fa fa-android"></i></div>
                  <div class="apple"><i class="fa fa-apple"></i></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 vr">
          <div class="card">
            <a href="work/interior-design.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/interior.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Interior Design</h4>
                  <p>
                    An Interactive interior designing tool that lets an
                    interiror design makes his own design.
                  </p>
                </div>
                <div class="project-link">
                  <div class="vr-link">
                    <div class="oculus">
                      <img src="../../../assets/images/vr-icons/oculus.svg" alt="" />
                    </div>
                    <div class="gear-vr">
                      <img src="../../../assets/images/vr-icons/gear-vr.svg" alt="" />
                    </div>
                    <div class="cardboard">
                      <img src="../../../assets/images/vr-icons/carboard.png" alt="" />
                    </div>
                    <div class="vive">
                      <img src="../../../assets/images/vr-icons/vive.svg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 vr">
          <div class="card">
            <a href="work/fire-and-smoke.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/fire-smoke.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Fire And Smoke</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Suscipit libero,Suscipit libero.
                  </p>
                </div>
                <div class="project-link">
                  <div class="vr-link">
                    <div class="vive">
                      <img src="../../../assets/images/vr-icons/vive.svg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 vr">
          <div class="card">
            <a href="work/greencom.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/greencom.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Greencom</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Suscipit libero,Suscipit libero.
                  </p>
                </div>
                <div class="project-link">
                  <div class="vr-link">
                    <div class="cardboard">
                      <img src="../../../assets/images/vr-icons/carboard.png" alt="" />
                    </div>
                    <div class="vive">
                      <img src="../../../assets/images/vr-icons/vive.svg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 mob-game">
          <div class="card">
            <a href="work/boxes.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/boxes.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Boxes</h4>
                  <p>
                    Drag and arrange the boxes of the same color and clear
                    the boxes of that color.
                  </p>
                </div>
                <div class="project-link">
                  <div class="android"><i class="fa fa-android"></i></div>
                  <div class="apple"><i class="fa fa-apple"></i></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 mob-game">
          <div class="card">
            <a href="work/tufa.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/tufa.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Tufa</h4>
                  <p>
                    TUFA is the game where you can play with shapes and
                    can see who else is playing.
                  </p>
                </div>
                <div class="project-link">
                  <div class="android"><i class="fa fa-android"></i></div>
                  <div class="apple"><i class="fa fa-apple"></i></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 mob-app">
          <div class="card">
            <a href="work/fidget.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/fidget-wallpaper.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Fidget Live Wallpaper</h4>
                  <p>
                    Browse through a gallery of fidget spinners to choose
                    the one you like.
                  </p>
                </div>
                <div class="project-link">
                  <div class="android"><i class="fa fa-android"></i></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 web">
          <div class="card">
            <a href="work/bugwarz.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/bugwarz.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Bugwarz</h4>
                  <p>
                    It is commonly associated with gambling, in which
                    insects are pitted against each other.
                  </p>
                </div>
                <div class="project-link">
                  <div class="web">
                    <i class="fa fa-external-link"></i>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 mob-game">
          <div class="card">
            <a href="work/word-world.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/word.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Word World</h4>
                  <p>
                    Word World is a puzzle game where you need to make
                    words from a collection of tiles.
                  </p>
                </div>
                <div class="project-link">
                  <div class="android"><i class="fa fa-android"></i></div>
                  <div class="apple"><i class="fa fa-apple"></i></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 mob-app">
          <div class="card">
            <a href="work/swype.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/swype.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Swype</h4>
                  <p>
                    Personalized daily workouts that include the skills
                    you need most.
                  </p>
                </div>
                <div class="project-link">
                  <div class="android"><i class="fa fa-android"></i></div>
                  <div class="apple"><i class="fa fa-apple"></i></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 mob-game">
          <div class="card">
            <a href="work/puzzle.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/puzzle.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Puzzle Game</h4>
                  <p>
                    Easy to play &amp; pleasurable game for all age.You
                    can enjoy this game for any time.
                  </p>
                </div>
                <div class="project-link">
                  <div class="android"><i class="fa fa-android"></i></div>
                  <div class="apple"><i class="fa fa-apple"></i></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4 mob-game">
          <div class="card">
            <a href="work/space-fuzz.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/space-fuzz" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Space fuzz</h4>
                  <p>
                    Go on a wild ride with Fuzzy as you jump off into a
                    space adventure.
                  </p>
                </div>
                <div class="project-link">
                  <div class="android"><i class="fa fa-android"></i></div>
                  <div class="apple"><i class="fa fa-apple"></i></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <a href="work/sliding-santa.html">
              <div class="card-img">
                <img src="../../../assets/images/projects/sliding-santa.jpg" alt="" />
              </div>
              <div class="card-description">
                <div class="work-title">
                  <h4>Sliding Santa</h4>
                  <p>
                    A fun game which comprises santa's adventure ride
                    through trees.
                  </p>
                </div>
                <div class="project-link">
                  <div class="android"><i class="fa fa-android"></i></div>
                  <div class="apple"><i class="fa fa-apple"></i></div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>